html {
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ffa537 50%, #111 50%);
}

.clock {
    width: 500px;
    height: 500px;
    background: #111;
    border-radius: 50%;
    border: 12px dotted #ffa537;
    box-shadow: 0 0 30px 5px black;
    position: relative;
}

.clock .hand {

    position: absolute;
    left: 50%;
    bottom: 50%;
    border: 1px white solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
   /*transform: rotate(45deg);*/
   transform: translateX(-50%);
    transition: all 0.5s;
  
   transition-timing-function: cubic-bezier(0, 3.17, 0.25, 1);
}

.clock .hand.second-hand {
    background-color: red;
    width: 2px;
    height: 45%;
}

.clock .hand.minute-hand {
    background-color: black;
    width: 7px;
    height: 40%;
}

.clock .hand.hour-hand {
    background-color: black;
    width: 10px;
    height: 35%;
}
.clock .number {
    --rotation: 0;
    color: antiquewhite;
   position: absolute;
  
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}


.dots {
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*.flipNumber{ transform: rotate(240deg);}*/

.dot1 { transform: rotate(6deg);}

.dot2 { transform: rotate(12deg);}

.dot3 { transform: rotate(18deg);}

.dot4 { transform: rotate(24deg);}

.dot5 { transform: rotate(30deg);}

.dot6 { transform: rotate(36deg);}

.dot7 { transform: rotate(42deg);}

.dot8 { transform: rotate(48deg);}

.dot9 { transform: rotate(54deg);}

.dot10 { transform: rotate(60deg);}



.clock::after {
    content: '';
    position: absolute;
    background-color:#ffa537;
    z-index: 11;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
}
.name{
    top: 15%;
    left: 45%;
    position: absolute;
    color: azure;
}
.clock .hand {
    --rotation: 0;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg))
}